@import './base';

:root {
  // @include viewport-tablet {
  //   --wrap: calc(5 * var(--vw, 1vw));
  // }
  // @include viewport-phone {
  //   --wrap: calc(5 * var(--vw, 1vw));
  // }
  
  // @include viewport-desktop {
  //   --wrap: calc(5.75 * var(--vw, 1vw));

  //   @media (min-width: 1300px) {
  //     --wrap: calc((var(--vw, 1vw) * 100 - 1200px) / 2);
  //   }
  // }
  @include viewport-tablet {
    --wrap: 3.906vw;
  }
  @include viewport-phone {
    --wrap: 3.906vw;
    
    @media (max-width: 600px) {
      --wrap: 5.555vw;
    }
  }
  
  --wrap: 8.333vw;
  
  @include viewport-desktop {
    @media (min-width: 1400px) {
      --wrap: calc((100vw - 1200px) / 2);
    }
    @media (min-width: 1601px) {
      --wrap: calc((100vw - 1500px) / 2);
    }
  }
}
