doctype html
html(lang='en')
  head
    include @/layout/head.pug

    title Impulse Design

    link(rel='stylesheet', href=require('@/styles/styles.scss'))

  body
    #three-js.canvas-outer
      //canvas

    .page
      include @/layout/header.pug

      include @/templates/banner.pug

      section.light
        ._container
          div Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, nesciunt eum? Reiciendis nobis itaque voluptate autem praesentium! Culpa, totam. Sequi esse rerum, impedit pariatur inventore magnam, sint enim nulla totam repudiandae ab recusandae repellat quasi incidunt! Animi ullam asperiores, explicabo dicta eum, natus facere consequatur minima quam commodi voluptates? Quod numquam perspiciatis maxime voluptates nam nesciunt nisi, magni officia autem illum quas sapiente reprehenderit iste amet sequi. Fuga quae molestiae soluta explicabo nobis nemo ab laudantium vitae mollitia ad. Iste earum asperiores commodi voluptatibus excepturi deserunt fuga quaerat quos obcaecati repellat optio ipsa quis non nisi tempora consequuntur nostrum, culpa ut error expedita voluptatem totam quo cumque. Dolorem amet doloremque totam unde facere, eveniet, voluptatum provident accusamus, veritatis beatae laudantium omnis. Repudiandae eos ad, vitae doloribus obcaecati distinctio officiis cum ab quis doloremque a soluta commodi. Laudantium corrupti quia odit fugiat beatae excepturi vero dolorum, incidunt eius corporis qui praesentium necessitatibus fuga alias, ducimus consequatur iste saepe aspernatur quisquam quo natus voluptate ab. Temporibus velit alias itaque culpa repellat corrupti, placeat pariatur asperiores nihil, ullam ab dicta veritatis laboriosam iste inventore aliquam. Quam nostrum quia, perferendis numquam quasi tempore rerum porro autem, aliquam error eveniet odio, deserunt cupiditate ab pariatur odit blanditiis minus voluptates harum laudantium recusandae culpa expedita excepturi. Pariatur quam neque similique, maiores dicta aliquam corporis placeat consequatur enim nulla? Eaque soluta quae odit tenetur quam voluptatem totam suscipit, ratione impedit laudantium nemo voluptatibus incidunt hic cumque harum, ipsam, rem non a ducimus magnam! Sint dolorum enim porro dolore mollitia sequi blanditiis possimus ipsam repellendus voluptatum, facilis ratione corrupti deleniti fugit neque consectetur animi dicta nihil! Hic eos ducimus, aut harum eum assumenda consectetur cumque doloribus, dolorum laudantium reiciendis rem, odit labore non animi. Enim eos perspiciatis blanditiis fuga eaque, voluptas sequi eligendi officiis quae aut quo inventore.
      //- include @/layout/footer.pug

    script(src=require('./index.ts')) 
    script(src=require('@/scripts/three.ts')) 
